* {
    background-color: black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
}
/* index.html */
.navbar {
    background: #212123;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar__container {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}
#navbar__logo {
    background-color: transparent;
    color: white;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}
.navbar__menu {
    display: flex;
    background-color: transparent;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar__item {
    color: rgb(255, 0, 255);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.navbar__btn {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}
.button {
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: white;
    color: black;
}
.navbar__link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.button:hover {
    background: rgb(255, 0, 255);
    transition: all 0.3s ease;
}
.navbar__link:hover {
    color: rgb(255, 0, 255);
    transition: all 0.3s ease;
}
@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 120px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        background-color: transparent;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }
    .navbar__menu.active {
        background: #212123;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 80vh;
        font-size: 1.6rem;
    }
    #navbar__logo {
        padding-left: 25px;
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: rgb(255, 0, 255);
    }
    .navbar__item {
        width: 100%;
        font-size: medium;
    }
    .navbar__link {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }
    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__btn {
        padding-bottom: 2rem;
    }
    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 80px;
        width: 60px;
        height: 60px;
        margin: 0;
        font-size: medium;
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Main Section */
.main {
    background-color: black;
    padding: 20px 0px;
}
.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 100vh;
    background-color: black;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}
.main__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main__content h1{
    text-align: center;
    font-size: 4rem;
    background-color: rgb(255, 0, 255);
    background-image: linear-gradient(to top, #FF00FF 0%, white 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content h2{
    text-align: center;
    font-size: 2.5rem;
    background-color: #FF00FF;
    background-image: linear-gradient(to top, #b721ff, #21d4fd);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__content h3{
    text-align: center;
    font-size: 1.5rem;
    background-color: #FF00FF;
    background-image: linear-gradient(to top, #ff0000, #ffb260);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}
.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #FF00FF 0%, white 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: white;
    margin: 2rem 0px 0px 0px;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}
.main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}
.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}
.main__btn:hover {
    color: #fff;
}
.main__btn:hover:after {
    width: 100%;
}
.main__img--container {
    text-align: center;
    padding: 20px;
}
#main__img {
    height: 80%;
    width: 80%;
}

/* Mobile Responsive*/
@media screen and (max-width:768px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main__content {
        align-content: center;
        text-align: center;
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size: 3rem;
        margin-top: 2rem;
    }
    .main__content h2{
        font-size: 1rem;
    }
    .main__content h3{
        font-size: 1rem;
    }
    .main__content button{
        left: 0;
    }
}

@media screen and(max-width: 480px) {
    .main__content h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    .main__content h2{
        font-size: 1.5rem;
    }
    .main__content h3{
        font-size: 0.8rem;
    }     
    .main__btn {
        padding: 12px 36px; 
        margin: 2.5rem 0;
    }
}

/* Tabs Section CSS*/
.tabs{
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.tabs__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.tabs__card {
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url(images/picture2.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
}
.tabs__card:nth-child(2) {
    background-image: linear-gradient(to right,  rgba(175, 11, 154, 0.3) 0%, rgba(175, 17, 17, 0) 100%), url(images/inSightApp.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
}
.tabs__card:nth-child(3) {
    background-image: linear-gradient(to bottom,  rgba(180, 28, 159, 0.1) 0%, rgba(175, 11, 154, 0.6) 100%);
}
.recruiter{
    display: grid;
    grid-template-columns: 1fr;
    background-color: transparent;
    position: absolute;
    top: 150px;
    left: 120px;
}
.recruiter input {
    background-color: white;
    color: black;
}
#post {
    position: relative;
    top: 30px;
    left: 0px;
}
.tabs__card h1{
    position: absolute;
    background-color: transparent;
    top: 350px;
    left: 10px;
}
.tabs__card h2{
    position: absolute;
    background-color: transparent;
    top: 25px;
    left: 50px;
}
.tabs__card button {
    color: white;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius:  4px;
    background: rgb(255, 0, 255);
    position: absolute;
    top: 440px;
    left: 15px;
    font-size: 1rem;
    cursor: pointer;
}
.tabs__card a {
    position: relative;
    color: white;
    background-color: transparent;
    text-decoration: none;
}
.tabs__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}
#response {
    color: #fff;
}

@media screen and(max-width: 960px) {
    .tabs {
        height: 1600px;
    }
    .tabs h1{
        font-size: 2rem;
        margin-top: 12rem;
    }
}

@media screen and(max-width: 480px) {
    .tabs {
        height: 1400px;
    }
    .tabs h1{
        font-size: 1.2rem;
    }
    .tabs__card {
        width: 300px;
    }
}

/* Footer */
.footer__container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__container h3 {
    font-size: small;
    color: #b4bdbf;
    padding: 1rem;
}
